/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e60ee;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contenedor {
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.productos-disponibles .producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.agregar-carrito {
    background-color: #1e60ee;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.agregar-carrito:hover {
    background-color: #3c8eff;
}

.carrito {
    margin-top: 20px;
}

.carrito ul {
    list-style-type: none;
    padding: 0;
}

.carrito li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#realizar-pedido {
    background-color: #32752a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#realizar-pedido:hover {
    background-color: #4caf50;
}

#tabla-pedidos {
    width: 100%;
    border-collapse: collapse;
}

#tabla-pedidos th, #tabla-pedidos td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.aceptar {
    background-color: #32752a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.rechazar {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.detalles{
    background-color: #ffe600;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.notificar {
    background-color: #1e90ff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
